<section class="header">
  <div class="rubymemlogo">
    <a href="/"><%= image_tag "rubymem-logo.png" %></a>
  </div>

  <div class="title">
    <h1><a href="/">Rubymem</a></h1>
    <p>Providing memory resources for the Ruby community.
      <br/>Follow us <a href="https://twitter.com/rubymemory" target="_blank">@rubymemory</a> or email us via info at rubymem.com</p>
  </div>
</section>
