<section class="header">
  <div class="rubyseclogo">
    <a href="/"><%= image_tag "rubysec-logo.png" %></a>
  </div>

  <div class="title">
    <h1><a href="/">Rubysec</a></h1>
    <p>Providing security resources for the Ruby community.
      <br/>Follow us <a href="https://twitter.com/rubysec" target="_blank">@rubysec</a> or email us via info at rubysec.com</p>
  </div>
</section>
