<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rubysec</title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= csrf_meta_tags %>

  </head>
  <body>

    <div id="main" class="container">
      <% if flash.present? %>
        <section>
          <div class="flashes">
            <% flash_messages %>
          </div>
        </section>
      <% end %>
      <%= yield %>
    </div>

  </body>
</html>
